<div class='linea'>
    <div class='registration'>
        <input type='text' name='registration' placeholder='Placa del vehiculo'/>
    </div>
    <div class='cartype'>
        <input type='text' name='cartype' placeholder='Tipo de vehiculo'/>
    </div>
</div>
<input type="submit" value="Guardar">