<h3 class='presentacion'>Lista de carros</h3>
 
<div class='listado'>
    <% if (cars) { %>
        <div class='linea' id='cabeceraLista'>
            <div class='registration'>Placa</div>
            <div class='cartype'>Tipo</div>
            <div class='hourin'>Entrada</div>
            <div class='hourout'>Salida</div>
            <div class='minutes'>Minutos</div>
            <div class='acciones'>Accion</div>
        </div>
    <%  // Se recorren los carros
        for(var i=0; i < cars.length; i++) { 
                var car = cars[i]; %>
            <div class='linea'>
                <div class='registration'><%= car.registration %></div>
                <div class='cartype'><%= car.cartype %></div>
                <div class='hourin'><%= car.hourIn %></div>
                <div class='hourout'><%= car.hourOut %></div>
                <div class='minutes'><%= car.totalMinutes %></div>
                <div class='acciones'>
                    <a href='/api/registry/<%= car.registration %>'>Checkout</a>
                </div>
            </div>
    <%  }
       } else { %>
        <div class='linea'>No hay carros parqueados.</div>
    <% } %>
        <div class='linea'><a href='/checkin'>Checkin</a></div>
</div>