<h3 class='presentacion'>Datos del vehiculo</h3>
<div class='listado'>
<div class='linea' id='cabeceraLista'>
<div class='registration'>Placa</div>
<div class='cartype'>Tipo</div>
</div>
<form id='carData' action='/checkinCar' method='POST'>
        <% include _carForm.ejs %>
    </form></div>