<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="page-wrap">
        <header class='cabecera' id='h1'>
        Sistema de parqueo
        </header>
 
        <section class='main' id='s1'>
            <%- body %>
        </section>
 
        <footer class='pie' id='f1'>
            <a href="/" target="_blank">Inicio</a>
        </footer>
    </div>
  </body>
</html>